<!DOCTYPE html>
<html>
  <head>
    <title>HpCartriges</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo text-center"><%= link_to "HP LaserJet справочник", root_path %></div>
      </div>
    </header>
    <main class="d-flex h-list-around stretch">
      <div class="container nav p-5">
        <p><strong>Навигация:</strong></p>
        <p><%= link_to "Принтеры", printers_path %></p>
        <p><%= link_to "Картриджи", cartriges_path %></p>
        <p><%= link_to "Таблица совместимостей", controller: :trees %></p>

      </div>
      <div class=" container content grow-4 p-5 max-width">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
